%hamburger__line {
    width: 25px;
    height: 2px;
    background-color: $color-border-white;
    border-radius: 5px;
    content: "";
}

.hamburger {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 24px;
    z-index: 1;
    cursor: pointer;

    @include media-tablet {
        display: flex;
        transition: transform 0.3s;
    }

    &_isActive {
        transform: rotate(90deg);
        transition: transform 0.3s;
    }
}

.hamburger__line {
    width: 25px;
    margin-right: 30px;
    @extend %hamburger__line;

    &::before {
        position: absolute;
        top: 3px;
        @extend %hamburger__line;
    }

    &::after {
        position: absolute;
        bottom: 3px;
        @extend %hamburger__line;
    }
}