$color-section-headers: #666D89;
$color-section-descriptions: #767E9E;
$color-base-red: #F06C64;
$color-base-blue: #2D303A;
$color-border-blue: #323746;
$color-border-red: #EA676B;
$color-base-white: #F2F2F2;
$color-border-white: #FFFFFF;

//breakpoints
$width-desktop: 1020px;
$width-tablet: 768px;
$width-mobile: 375px;