.service {
    background-color: $color-base-white;
    border-bottom: 6px solid $color-border-white;
}

.service__title {
    margin-bottom: 20px;
    color: $color-section-headers;
}

.service__description {
    margin-bottom: 40px;
    color: $color-section-descriptions;
}

.service__subtitle {
    margin-bottom: 8px;
    color: $color-section-headers;
}

.service-item {
    display: flex;
    width: 65%;
    margin-bottom: 30px;

}

.service__content {
    @include size(220px, 85px);
    margin-left: 20px;
    overflow: hidden;

}

.service-item__text {
    font-family: Lato-Regular;
    @include font (1.2rem, 1.8, 400);
    color: $color-section-descriptions;

}