.slider_first {
    background-color: $color-base-red;
    border-bottom: 6px solid $color-border-red;
}

.slider_second {
    background-color: #648BF0;
    border-bottom: 6px solid $color-border-blue;
}

.slider__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;

    @include media-mobile {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.slider__image {

    &_first {
        max-height: 300px;
        @include size(78%, auto);
    }

    &_second {
        max-height: 300px;
        @include size(50.59%, auto);
    }
}

.slider__button {
    @include size(16px, 27px);
    background-size: contain;
    border: none;

    @include media-mobile {
        @include size(14px, 25px);
    }

    &_prev {
        background: url(../img/slider/arrow-left.svg);
    }

    &_next {
        background: url(../img/slider/arrow-right.svg);

        @include media-mobile {
            background-size: contain;
        }
    }

    &:focus {
        outline: none;
    }
}