.wrapper {
 max-width: $width-desktop;
 margin: 0 auto;
 padding: 60px 40px 30px;   

    @include media-tablet {
        padding: 40px 30px 30px;
    }

    @include media-tablet {
        padding: 25px 30px;
    }
}